:root{
    --primary-color: #0f0f0f;
    --secondary-color: #191919;
    --white: #fff;
    --black: #000;
    --whiteAndGray: rgba(141, 141, 141, 0.886);
    --placehoulder: #7378c5;
    --color-red: rgb(247, 64, 64);
    --borderColor: #242424;
    --colorCardLoading: #3b3c41;
    --colorPurple: #2817d7;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
}
body{
	background-image: url(img/fondo.jpg);
	background-size: cover;
}
nav{
	max-width: 900px;
    height: 40px;
	background-color: #333;
}
.menu-horizontal{
	list-style: none;
	display: flex;
    width: 100%;
    height: 100%;
}
.LogoRM a{
    width: 150px;
    height: 100%;
    background-color: var(--borderColor);
    justify-content: center;
    align-items: center;
}
.LogoRM a span{
    color: red;
}
.LogoRM a:hover{
    background-color: var(--black);
}
.genres{
    width: 150px;
    height: 100%;
}
.menu-horizontal > li > a{
	display: flex;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: var(--color-red);
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: flex;
	color: white;
	text-decoration: none;
	width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 0 0 5px;
}
.genres .GenerosSeries,
.genres .GenerosPelis{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}