/* font-family: 'Roboto Condensed', sans-serif; */
:root{
    --primary-color: #0f0f0f;
    --secondary-color: #191919;
    --white: #fff;
    --black: #000;
    --whiteAndGray: rgba(141, 141, 141, 0.886);
    --placehoulder: #7378c5;
    --color-red: rgb(247, 64, 64);
    --borderColor: #242424;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: var(--white);
    object-fit: cover;
    list-style: none;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-thumb {
    background: var(--white);
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}
html{
    font-size: 62.5%;
}
html, body{
    min-height: 100vh;
}
body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
.HeaderContainer{
    height: 60px;
}
/* header Mobile */
.headerMobile{
    height: 100%;
}
.containerHeader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--black);
}
.menu{
    width: 20%;
    height: 100%;
    border-right: 1px solid var(--whiteAndGray);
}
.logo{
    width: 60%;
    height: 100%;
}
.seacrhContainer{
    width: 20%;
    height: 100%;
    border-left: 1px solid var(--whiteAndGray);
}
.menu ,.logo, .seacrhContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
}
.logo a h1{
    text-transform: uppercase;
    color: var(--white);
}
.logo a h1 span{
    color: red;
}
.close-menu,
.fa-bars, .fa1,
.fa-xmark{
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-xmark{
    color: red;
}
.Menu{
    background-color: var(--secondary-color);
    border: 1px solid var(--black);
    border-top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    position: absolute;
    border-radius: 0 0 5px 0;
}
.Menu .Contact h1,
.Menu .moviesAndSeries h1,
.Menu .ContainerCategory h1{
    padding: 10px 0;
    font-size: 2rem;
}
.Menu .moviesAndSeries ul,
.Menu .ContainerCategory ul{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.Menu .moviesAndSeries ul li,
.Menu .ContainerCategory ul li{
    width: 100%;
}
.Menu .moviesAndSeries ul li a,
.Menu .ContainerCategory .CategoryMenu li a{
    font-size: 1.5rem;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Menu .moviesAndSeries ul li a:hover,
.Menu .ContainerCategory .CategoryMenu li a:hover{
    background-color: var(--white);
    color: var(--black);
}
.Menu .Contact{
    height: 100%;
}
.Menu .Contact .containerContact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Menu .Contact .containerContact h1{
    font-size: 1.5rem;
}
.Menu .Contact ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Menu .Contact ul li a i{
    font-size: 25px;
}
.Menu .Contact ul li a i:hover{
    color: var(--color-red);
}
.form{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.form1{
    display: none;
}
.ContainerInput{
    width: 100%;
    height: 100%;
}
.search{
    position: absolute;
    padding: 10px 10px 10px 40px;
    height: 100%;
    width: 100%;
    color: var(--black);
    border: 1px solid var(--black);
}
.search::placeholder{
    font-size: 15px;
}
.fa2{
    position: relative;
    color: var(--black);
    font-size: 20px;
    top: 10px;
    left: 10px;
}
.tendencias {
    width: 100%;
    margin: 0 0 20px 0;
}
.tendencias h1{
    font-size: 2rem;
    color: var(--white);
}
.ContainerTheScrollBG{
    background-color: var(--secondary-color);
}
.ver_todo{
    width: 80px;
    height: 20px;
    border-radius: 2px;
    margin: 2px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-red);
    cursor: pointer;
}
.scroll {
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    margin: 0 10px 0;
    padding: 10px 10px 0 10px;
    border-radius: 1px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.card{
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    min-width: 290px;
    justify-content: space-between;
    border-radius: 2px;
    margin: 0 0 10px 0;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
}
.card .poster {
    width: 100%;
    height: 90%;
}
.card .poster img{
    width: 100%;
    height: 100%;
}
.card .data{
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 0 0 0 5px;
    overflow: hidden;
} 
.card .data .Extreno{
    grid-area: 2/1;
}
.card .data .stars{
    grid-area: 2/2;
    text-align: end;
}
.card .data .categoryContainer{
    display: flex;
    justify-content: end;
}
.card .data .categoryContainer .category{
    background-color: red;
    text-align: center;
    border-radius: 2px;
    font-size: 1.5rem;
    width: 80px;
}
.card .dataSeriesDispo,
.card .dataEstrenos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 20%;
    padding: 5px 0 0 5px;
}
.card .dataEstrenos .titleSerie,
.card .dataEstrenos .titlePeli{
    font-size: 1.3rem;
}
.cardSeries .ContainerStar_Category,
.card .dataEstrenos .ContainerStar_Category{
    display: flex;
    justify-content: space-between;
    height: 20px;
    font-size: 1.3rem;
}
.card .dataEstrenos .ContainerStar_Category .categoryContainer{
    background-color: red;
    text-align: center;
    border-radius: 2px;
    width: 80px;
}
.cardSeries .ContainerStar_Category .categoryContainerSeriesNew,
.card .dataEstrenos .ContainerStar_Category .categoryContainerSeriesNew{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 80px;
}
.bienvenidos {
    padding: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
}
.bienvenidos h1{
    text-transform: uppercase;
    text-align: center;
}
.bienvenidos h1 span{
    color: red;
}
/* Generos */ 
.generosMovies{
    margin: 40px 0 20px 0;
    padding: 10px 0;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.generosMovies .scrollGeneros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
    width: 90%;
}
.generosMovies h1{
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 2rem;
}
.generosMovies .categoriesMovies div{
    border: 1px solid var(--white);
    border-radius: 5px;
    font-weight: bold;
    scroll-snap-type: mandatory;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
}
.generosMovies .categoriesMovies p{
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.generosMovies .categoriesMovies p:hover{
    background-color: var(--white);
    color: var(--secondary-color);
}
/* estrenos */
.estrenosDestacados{
    border-bottom: 1px solid var(--whiteAndGray);
    padding: 0 0 20px 0;
}
/* section pelis Disponibles */
.pelisDisponibles{
    border-bottom: 1px solid var(--whiteAndGray);
}
.header-pelis{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}
.header-pelis h1{
    border-left: 3px solid red;
    padding: 0 0 0 10px;
    font-size: 2rem;
}
.header-pelis .buttonsleft-right{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.header-pelis .buttonsleft-right span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    gap: 20px;
    width: 60px;
    height: 20px;
}
.header-pelis .buttonsleft-right span .fa-chevron-right, 
.header-pelis .buttonsleft-right span .fa-chevron-left{
    font-size: 15px;
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-pelis .buttonsleft-right span .fa-chevron-right:active,
.header-pelis .buttonsleft-right span .fa-chevron-left:active{
    background-color: red;
}

.header-pelis .totalPelis{
    display: flex;
    gap: 5px;
    padding: 0 0 0 13px;
    font-size: 1.5rem;
}
.SeriesDisponiblesTotals,
.pelisDisponiblesTotals{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 0 10px 10px 10px;
}
.cardDisponibles{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
}
.cardDisponibles .data{
    background-color: var(--secondary-color);
    padding: 2px 0 0 2px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardDisponibles .poster{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardDisponibles .poster a {
    width: 100%;
    height: 100%;
}
.cardDisponibles .poster img{
    width: 100%;
    height: 100%;
}
/* series */
.cardSeries .data .titleSerie{
    font-size: 1.3rem;
}
.seriesDisponibles,
.seriesDestacadas{
    border-bottom: 1px solid var(--whiteAndGray);
    padding: 0 0 20px 0;
}
.seriesDestacadas .header-pelis h1{
    border-left: 3px solid blue;
}
.seriesDestacadas .categoryContainerSeries{
    display: flex;
    justify-content: end;
}
.seriesDestacadas .categoryContainerSeries .categorySeries{
    background-color: blue;
    width: 80px;
    text-align: center;
    border: 2px;
}
.seriesTotal .header-pelis h1,
.seriesDisponibles .header-pelis h1{
    border-left: 3px solid blue;
}
footer{
    border-top: 2px solid var(--black);
    margin-top: auto;
}
.footerContainer{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--secondary-color);
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
}
.footerContainer .Creditos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer .Creditos p{
    font-size: 1.5rem;
}
.footerContainer .Creditos p span{
    color: var(--color-red);
}
.footerContainer .RedesSociales{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer .RedesSociales ul{
    display: flex;
    gap: 10px;
}
.footerContainer .RedesSociales ul li a i{
    font-size: 20px;
}
.footerContainer .RedesSociales ul li a i:hover{
    color: var(--color-red);
}
@media (min-width: 320px){
    .cardDisponibles .data{
        font-size: .7rem;
    }
    .SeriesDisponiblesTotals,
    .pelisDisponiblesTotals{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header-pelis .buttonsleft-right{
        display: none;
    }
}
@media (min-width: 425px){
    .SeriesDisponiblesTotals,
    .pelisDisponiblesTotals{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .cardDisponibles .data{
        font-size: .8rem;
    }
}
/* @media (min-width: 500px){
    .cardDisponibles .data{
        font-size: .9rem;
        height: 10%;
    }
    .cardDisponibles .poster{
        height: 90%;
    }
} */
@media (min-width: 700px){
    .cardDisponibles .data{
        font-size: 1rem;
    }
    .cardDisponibles .data{
        font-size: .9rem;
        height: 10%;
    }
    .cardDisponibles .poster{
        height: 90%;
    }
}
@media (min-width: 1024px){
    #main{
        width: 90%;
        margin: 0 auto;
    }
    .scroll::-webkit-scrollbar{
        display: block;
    }
    .form{
        width: 20%;
        height: 50px;
        right: 0;
    }
    .form .fa2{
        top: 15px;
        cursor: pointer;
    }
    .generosMovies .scrollGeneros{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .SeriesDisponiblesTotals,
    .pelisDisponiblesTotals{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .header-pelis .buttonsleft-right{
        display: flex;
    }
}
@media (min-width: 1440px){
    .SeriesDisponiblesTotals,
    .pelisDisponiblesTotals{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .generosMovies .scrollGeneros{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
.none {
    display: none;
}
#main .none{
    display: none;
}