/* font-family: 'Roboto Condensed', sans-serif; */
:root{
    --primary-color: #0f0f0f;
    --secondary-color: #191919;
    --white: #fff;
    --black: #000;
    --whiteAndGray: rgba(141, 141, 141, 0.886);
    --placehoulder: #6c6d77;
    --color-red: rgb(247, 64, 64);
    --borderColor: #242424;
    --colorCardLoading: #3b3c41;
    --colorPurple: #2817d7;
    --BlackColor: #0f0f0f;
    --BlackColor2: #191919;
    --white: #fff;
    --black: #000;
    --GrayDashe: rgba(141, 141, 141, 0.886);
    --ColorInput: #7378c5;
    --Red: rgb(247, 64, 64);
    --ColorBorder: #242424;
    --CardLoading: #3b3c41;
    --DasheLigth: #b7b7b7;
    --Min-Size-1: 11px;
    --Min-Size-2: 12px;
    --Medium-Size: 14px;
    --Long-Size: 16px;
    --Ultimate-Size: 18px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s;
    color: var(--white);
    object-fit: cover;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-thumb {
    background: var(--white);
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}
html{
    font-size: 62.5%;
}
html, body{
    min-height: 100vh;
}
body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
img {
    background-color: var(--colorCardLoading);
}
.header{
    background-color: var(--BlackColor2);
    box-shadow: rgb(0, 0, 0) 0px 0px 6px 1px;
}
.headerSearch{
    display: flex;
    height: 35px;
    border-bottom: 2px solid var(--ColorBorder);
}
.barGenres,
.barSearch{
    width: 30%;
}
.barGenres i,
.barSearch i{
    padding: 12.5px;
    text-align: center;
    font-size: var(--Medium-Size);
    width: 100%;
    cursor: pointer;
}
.LinkHome{
    width: 70%;
}
.barGenres,
.barSearch,
.LinkHome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LinkHome a{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: var(--Long-Size);
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--ColorBorder);
    border-right: 2px solid var(--ColorBorder);
}
 .LinkHome a:hover{
    background-color: var(--black);
}
.LinkHome a .RM{
    color: var(--Red);
}
.Menu{
    width: 100%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    background-color: var(--BlackColor2);
    padding: 5px;
    border-bottom: 2px solid var(--ColorBorder);
    border-right: 2px solid var(--ColorBorder);
    border-radius: 0 0 2px 0;
}
.Menu .Categories{
    display: flex;
    border-bottom: 2px solid var(--ColorBorder);
    gap: 10px;
    padding: 0 0 5px 0;
}
.Menu .ContainerGenres{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 5px 0;
}
.Menu .ContainerGenres span{
    font-size: var(--Medium-Size);
    color: var(--white);
}
.GenresMovies,
.GenresSeries{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 0 0 20px;
}
.GenresMovies li,
.GenresSeries li{
    height: 14px;
} 
.GenresMovies li::marker,
.GenresSeries li::marker{
    font-size: 8px;
}
.GenresMovies li a,
.GenresSeries li a{
    font-size: var(--Min-Size-2);
    color: var(--DasheLigth);
    display: flex; 
    height: 100%;
    align-items: center;
}
.GenresMovies li a:hover,
.GenresSeries li a:hover{
    text-decoration: underline;
    background-color: var(--BlackColor);
    color: var(--Red);
}
.Menu .FormSearchAnios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    border-bottom: 2px solid var(--ColorBorder);
}
.Menu .FormSearchAnios .ContainerFilter {
    display: flex;
    gap: 5px;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px;
    border-radius: 2px;
    justify-content: space-between;
    background-color: var(--BlackColor);
}
.Menu .FormSearchAnios .ContainerFilter ul{
    list-style: none;
}
.Menu .FormSearchAnios .TitleFilter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--Medium-Size);
}
.menu-horizontal > li > a{
	display: flex;
	color: white;
	text-decoration: none;
}
.menu-vertical{
	position: absolute;
	display: none;
    overflow-y: scroll;
    height: 390px;
    z-index: 1000;
	list-style: none;
	width: 63px;
    background-color: var(--borderColor);
}
.menu-vertical::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.menu-vertical::-webkit-scrollbar-track {
    border: none;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li {
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 10000;
}
.menu-vertical li a{
	display: flex;
	color: white;
	text-decoration: none;
	width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 0 0 5px;
}
.MenuAniosBar{
    background-color: var(--ColorBorder);
    overflow-y: scroll;
    height: 90px;
}
.MenuAniosBar li a{
    font-size: var(--Min-Size);
}
.MenuAniosBar li a:hover{
    background-color: var(--Red);
    text-decoration: underline;
}
.ContentBarFilter{
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.BarsFilter{
    width: 54px;
    padding: 5px 0;
    border-radius: 2px;
    font-size: var(--Min-Size-2);
    background-color: var(--Red);
    text-align: center;
    cursor: pointer;
}
.input_barFilter{
    width: 54px;
    font-size: var(--Min-Size-2);
    padding: 5px 2px;
    color: var(--black);
}
.Menu .GenresSelection{
    border-radius: 2px;
    width: 70px;
}
.Menu .ListGenresSelect{
    overflow-y: scroll;
    height: 60px;
    background-color: var(--BlackColor2);
    display: flex;
    flex-direction: column;
}
.Menu .ListGenresSelect::-webkit-scrollbar{
    display: none;
}
.Menu .ListGenresSelect li{
    font-size: var(--Min-Size-2);
    padding: 5px;
}
.Menu .ListGenresSelect li span {
    padding:  0 0 0 5px;
    font-size: var(--Min-Size-2);
    color: var(--Red);
}
.Menu .ListGenresSelect li:hover{
    background-color: var(--BlackColor);
    opacity: .9;
    color: var(--white);
}
.submitFilter{
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: var(--black);
    padding: 0 5px;
}
.submitFilter:hover{
    background-color: var(--Red);
    color: var(--white);
    text-decoration: underline;
}
.ListSelectAnios{
    display: grid;
    list-style: none;
    text-align: center;
    background-color: var(--BlackColor);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    border: 1px solid var(--ColorBorder);
    border-radius: 2px;
    height: 168px;
}
.ListSelectAnios li{
    font-size: var(--Min-Size-2);
}
.ListSelectAnios li a{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ListSelectAnios li:hover{
    background-color: var(--Red);
    cursor: pointer;
    text-decoration: underline;
}
.TitleAniosSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    font-size: var(--Medium-Size);
}
.closed{
    color: var(--Red);
}
.form {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.form1{
    display: none;
}
.ContainerInput{
    width: 100%;
    height: 100%;
}
.search{
    position: absolute;
    padding: 10px 10px 10px 30px;
    height: 100%;
    width: 100%;
    color: var(--black);
    border: 1px solid var(--black);
}
.search::placeholder{
    font-size: 15px;
}
.fa2{
    position: relative;
    color: var(--black);
    font-size: var(--Ultimate-Size);
    top: 10px;
    left: 5px;
}
.fa-xmark{
    color: var(--Red);
}
/* headerDesktop */
.headerDesktop{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
    background-color: var(--secondary-color);
    display: flex;
    position: relative;
}
.headerDesktop nav{
    width: 100%;
    height: 100%;
}
.menu-horizontal{
	display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}
.LogoRM {
    height: 100%;
}
.LogoRM a{
    width: 200px;
    height: 100%;
    background-color: var(--borderColor);
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.LogoRM a span{
    color: red;
}
.LogoRM a:hover{
    background-color: var(--black);
}
.SearchAnios,
.genres{
    width: 150px;
    height: 100%;
    font-size: 1.5rem;
}
.menu-horizontal > li > a{
	display: flex;
	color: white;
	text-decoration: none;
}
.menu-vertical{
	position: absolute;
	display: none;
    overflow-y: scroll;
    height: 390px;
    z-index: 1000;
	list-style: none;
	width: 150px;
    background-color: var(--borderColor);
}
.menu-vertical::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.menu-vertical::-webkit-scrollbar-track {
    border: none;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}
.menu-vertical li {
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 10000;
}
.menu-vertical li a{
	display: flex;
	color: white;
	text-decoration: none;
	width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 0 0 5px;
}
.SearchAnios .SearchAniosHover,
.genres .GenerosSeries,
.genres .GenerosPelis{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
}
.SearchAnios .SearchAniosHover:hover,
.genres .GenerosSeries:hover,
.genres .GenerosPelis:hover{
    background-color: var(--color-red);
}
/* inputDesktop */
.containerSearchBox{
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
}
.containerSearchBox .fa2{
    width: 0;
    top: 6px;
    cursor: pointer;
    font-size: 18px;
}
.searchPelisAndSeries{
    position: absolute;
    padding: 10px 10px 10px 40px;
    height: 100%;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    border-radius: 5px;
}
.tendencias {
    width: 100%;
    margin: 0 0 20px 0;
}
.tendencias h1{
    font-size: 2rem;
    color: var(--white);
}
.ContainerTheScrollBG{
    background-color: var(--secondary-color);
}
.ver_todo{
    width: 80px;
    height: 20px;
    border-radius: 2px;
    margin: 2px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-red);
    cursor: pointer;
}
.scroll {
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    margin: 0 10px 0;
    padding: 10px 10px 0 10px;
    border-radius: 1px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.card{
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    min-width: 290px;
    height: 478px;
    justify-content: space-between;
    border-radius: 2px;
    margin: 0 0 10px 0;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
}
.card .poster {
    width: 100%;
    height: 430px;
    position: relative;
}
.card .poster img{
    width: 100%;
    height: 100%;
}
.card .data .categoryContainer .category{
    background-color: red;
    text-align: center;
    border-radius: 2px;
    font-size: 1.5rem;
    width: 80px;
}
.card .dataSeriesDispo,
.card .dataEstrenos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 20%;
    max-height: 48px;
    padding: 5px 0 0 5px;
}
.card .dataEstrenos .titleSerie,
.card .dataEstrenos .titlePeli{
    font-size: 1.3rem;
    overflow: hidden;
}
.cardSeries .ContainerStar_Category,
.card .dataEstrenos .ContainerStar_Category{
    display: flex;
    justify-content: space-between;
    height: 20px;
    font-size: 1.3rem;
}
.card .dataEstrenos .ContainerStar_Category .categoryContainer{
    background-color: red;
    text-align: center;
    border-radius: 2px;
    width: 80px;
}
.cardSeries .ContainerStar_Category .categoryContainerSeriesNew,
.card .dataEstrenos .ContainerStar_Category .categoryContainerSeriesNew{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 80px;
}
.bienvenidos {
    padding: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
}
.bienvenidos h1{
    text-transform: uppercase;
    text-align: center;
}
.bienvenidos h1 span{
    color: red;
}
/* Generos */ 
.generosMovies{
    margin: 40px 0 20px 0;
    padding: 10px 0;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.generosMovies .scrollGeneros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
    width: 90%;
}
.generosMovies h1{
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 2rem;
}
.generosMovies .categoriesMovies div{
    border: 1px solid var(--white);
    border-radius: 5px;
    font-weight: bold;
    scroll-snap-type: mandatory;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
}
.generosMovies .categoriesMovies p{
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.generosMovies .categoriesMovies p:hover{
    background-color: var(--white);
    color: var(--secondary-color);
}
/* estrenos */
.estrenosDestacados{
    border-bottom: 1px solid var(--ColorBorder);
    padding: 0 0 20px 0;
}
/* section pelis Disponibles */
.pelisDisponibles{
    border-bottom: 1px solid var(--ColorBorder);
}
.header-pelis{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}
.header-pelis h1{
    border-left: 3px solid red;
    padding: 5px 0 5px 10px;
    font-size: 2rem;
}
.header-pelis .buttonsleft-right{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.header-pelis .buttonsleft-right span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    gap: 20px;
    width: 60px;
    height: 20px;
}
.header-pelis .buttonsleft-right span .fa-chevron-right, 
.header-pelis .buttonsleft-right span .fa-chevron-left{
    font-size: 15px;
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-pelis .buttonsleft-right span .fa-chevron-right:active,
.header-pelis .buttonsleft-right span .fa-chevron-left:active{
    background-color: red;
}
.header-pelis .totalPelis{
    display: flex;
    gap: 5px;
    padding: 0 0 0 13px;
    font-size: 1.5rem;
}
.SeriesDisponiblesTotals,
.pelisDisponiblesTotals{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 0 10px 10px 10px;
}
.cardDisponibles{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
}
.cardDisponibles .data{
    background-color: var(--secondary-color);
    padding: 2px 0 0 2px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardDisponibles .poster{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardDisponibles .poster a {
    width: 100%;
    height: 100%;
}
.cardDisponibles .poster img{
    width: 100%;
    height: 100%;
}
/* series */
.cardSeries .data .titleSerie{
    font-size: 1.3rem;
}
.seriesDisponibles,
.seriesDestacadas{
    border-bottom: 1px solid var(--ColorBorder);
    padding: 0 0 20px 0;
}
.seriesDestacadas .header-pelis h1{
    border-left: 3px solid blue;
}
.seriesDestacadas .categoryContainerSeries{
    display: flex;
    justify-content: end;
}
.seriesDestacadas .categoryContainerSeries .categorySeries{
    background-color: blue;
    width: 80px;
    text-align: center;
    border: 2px;
}
.seriesTotal .header-pelis h1,
.seriesDisponibles .header-pelis h1{
    border-left: 3px solid blue;
}
footer{
    border-top: 2px solid var(--black);
    margin-top: auto;
}
.footerContainer{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--secondary-color);
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
}
.footerContainer .Creditos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer .Creditos p{
    font-size: 1.5rem;
}
.footerContainer .Creditos p span{
    color: var(--color-red);
}
.footerContainer .RedesSociales{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer .RedesSociales ul{
    display: flex;
    gap: 10px;
    list-style: none;
}
.footerContainer .RedesSociales ul li a i{
    font-size: 20px;
}
.footerContainer .RedesSociales ul li a i:hover{
    color: var(--color-red);
}
.none {
    display: none;
}
#main .none{
    display: none;
}
.activePress{
    background-color: var(--color-red);
}
.Movie-Container{
    cursor: pointer;
}
.Movie-Container--Loading--Whit-Print{
    background-color: var(--colorCardLoading);
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    min-width: 290px;
    height: 478px;
    justify-content: space-between;
    border-radius: 2px;
    margin: 0 0 10px 0;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
    animation: LoadingSkeleton infinite 2s;
}
.Movie-Container--Loading{
    width: 100%;
    height: 170px;
    background-color: var(--colorCardLoading);
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,1);
    animation: LoadingSkeleton infinite 2.5s;
}
.LikeHeart{
    padding: 5px 5px;
    background-color: var(--white);
    display: flex;
    gap: 5px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
}
.fa-heart{
    color: var(--black);
    font-size: 15px;
}
.HeartActive{
    color: var(--color-red);
}
.LikeActive{
    color: var(--color-red);
}
@media (min-width: 320px){
    .cardDisponibles{
        min-height: 170px;
    }
    .cardDisponibles .data{
        font-size: .7rem;
    }
    .SeriesDisponiblesTotals,
    .pelisDisponiblesTotals{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header-pelis .buttonsleft-right{
        display: none;
    }
}
@media (min-width: 375px){
    .cardDisponibles{
        min-height: 180px;
    }
    .ContentBarFilter, 
    .BarsFilter,
    .ContentBarFilter .input_barFilter{
        width: 70px;
    }
}
@media (min-width: 425px){
    .SeriesDisponiblesTotals,
    .pelisDisponiblesTotals{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .cardDisponibles .data{
        font-size: .8rem;
    }
    .cardDisponibles,
    .Movie-Container--Loading{
        min-height: 175px;
    }
    .ContentBarFilter, 
    .BarsFilter,
    .ContentBarFilter .input_barFilter{
        width: 80px;
    }
    .submitFilter{
        width: 75px;
    }
}
/* @media (min-width: 500px){
    .cardDisponibles .data{
        font-size: .9rem;
        height: 10%;
    }
    .cardDisponibles .poster{
        height: 90%;
    }
} */
@media (min-width: 700px){
    .cardDisponibles,
    .Movie-Container--Loading{
        max-height: 300px;
    }
    .cardDisponibles .data{
        font-size: 1rem;
    }
    .cardDisponibles .data{
        font-size: .9rem;
        height: 10%;
    }
    .cardDisponibles .poster{
        height: 90%;
    }
}
@media (min-width: 1024px){
    .headerMobile{
        display: none;
    }
    .headerDesktop{
        display: flex;
        height: 40px;
    }
    #main{
        width: 90%;
        margin: 0 auto;
    }
    .form{
        width: 20%;
        height: 30px;
        right: 0;
    }
    .form .fa2{
        top: 5px;
        cursor: pointer;
    }
    .generosMovies .scrollGeneros{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .SeriesDisponiblesTotals,
    .pelisDisponiblesTotals{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .header-pelis .buttonsleft-right{
        display: flex;
    }
    .cardDisponibles,
    .Movie-Container--Loading{
        min-height: 250px;
    }
}
@media (min-width: 1440px){
    .SeriesDisponiblesTotals,
    .pelisDisponiblesTotals{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .generosMovies .scrollGeneros{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .cardDisponibles,
    .Movie-Container--Loading{
        min-height: 290px;
    }
}

@keyframes LoadingSkeleton {
    0%, 100%{
        opacity: 100%;
    }
    50%{
        opacity: 50%;
    }
}